@use "../../../base";

#submit-loader {
  display: none;
  width: 100%;
  height: 41px;
  background-color: base.$grey-xl-color;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

#submit-loader::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 43%;
  top: 8px;
  border: 2px solid #fff4;
  border-radius: 50%;
  border-top: 2px solid base.$white-color;
  animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success-toast {
  position: fixed;
  margin: auto;
  top: -10vh;
  right: 0;
  left: 0;
  z-index: 10;
  color: base.$white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  transition: top 0.3s, opacity 0.7s, visibility 0.7s ease-in-out;
  opacity: 0;
  visibility: hidden;

  span {
    height: 50px;
    text-align: center;
    background-color: base.$success-color;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
}

.toast-show {
  top: 20px;
  opacity: 1;
  visibility: visible;
  transition: top 0.3s, opacity 0.1s, visibility 0.1s;
}

#addChildModal {
  display: none;
  background-color: #0007;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  overflow: auto;

  > div {
    background-color: base.$white-color;
    width: 40vw;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;

    h2 {
      width: 50%;
      margin: 1em auto 1.2em;
      @include base.text-minimal(1.5rem, #616161, 1px);
      font-weight: 400;
      text-align: center;
      border-bottom: 1px solid base.$grey-xl-color;
      padding-bottom: 0.8em;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    label[for="child-photo-picker"] {
      border-radius: 100%;
      width: 150px;
      height: 150px;
      margin: 0 auto 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .photo-icon {
      font-size: 1.2em;
      color: base.$grey-l-color;
      transition: 0.3s;
      margin-top: 8px;
    }

    .photo-icon::after {
      content: "";
      width: 0;
      height: 0;
      transition: 0.3s;
      position: absolute;
      inset: 0;
      margin: auto;
      background-color: #bbb4;
      border-radius: 100%;
    }

    label[for="child-photo-picker"]:hover .photo-icon::after {
      width: 150px;
      height: 150px;
    }

    label[for="child-photo-picker"]:hover .current-child-image-container div {
      visibility: visible;
      opacity: 1;
      transition: 0.3s;
    }

    .current-child-image-container {
      position: relative;
      border-radius: 100%;

      img {
        border-radius: 100%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: 0 0;
        position: relative;
      }

      div {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        color: #eee;
        font-size: 2rem;
        visibility: hidden;
        opacity: 0;
        transition: 0.1s;
      }
    }

    label {
      margin: 0 0 3px;
      cursor: pointer;
      @include base.text-minimal(1.1rem, base.$grey-color);
    }

    input {
      margin-bottom: 15px;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid base.$grey-xl-color;
      transition: padding 0.2s;
      outline: none;
      box-sizing: border-box;
      @include base.text-minimal(1rem, base.$black-med-color);
    }

    input:focus,
    input:hover {
      border-color: base.$black-med-color;
    }

    label[for="name"]:hover + input[id="name"],
    input[id="name"]:hover,
    input[id="name"]:focus,
    label[for="pob"]:hover + input[id="pob"],
    input[id="pob"]:hover,
    input[id="pob"]:focus,
    input[id="dob"]:hover,
    input[id="dob"]:focus {
      padding-left: 8px;
    }

    input[id="name"] {
      width: 15vw;
    }

    .name-validation {
      content: "Both first and last name are required!";
      font-size: 0.9rem;
      color: #910000;
      margin-left: 10px;
    }

    input[id="dob"] {
      width: 170px;
      cursor: text;
    }

    .gender-box {
      margin-bottom: 10px;

      p {
        margin: 5px 0 5px;
        @include base.text-minimal(1.1rem, base.$grey-color);
      }
      label[for="boy"],
      label[for="girl"] {
        @include base.text-minimal(1rem, base.$black-med-color);
      }
      input[id="boy"],
      input[id="girl"] {
        margin-right: 15px;
      }
    }

    .buttons-container {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-top: 10px;
    }

    .buttons-container span {
      width: 30%;
      background-color: base.$danger-color;
      padding: 10px;
      cursor: pointer;
      text-align: center;
      @include base.text-minimal(1.1rem, base.$white-color);
    }

    .buttons-container > div {
      width: 70%;
      position: relative;
    }

    .buttons-container div button {
      background-color: #52b788;
      border: none;
      padding: 10px;
      cursor: pointer;
      width: 100%;
      @include base.text-minimal(1.1rem, base.$white-color);
    }
  }
}
