@use "../../../base";

.header-container {
  box-sizing: border-box;
  background-color: base.$rule-30-color;
  padding: 1em 1em 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  ///////// LOGO ////////
  .header-logo-box {
    h2 {
      margin: 0;
      @include base.text-minimal(1.7rem, base.$rule-60-color, 2px);
    }
  }
  ///////// SEARCH BAR ////////
  .search-bar {
    position: relative;
    input {
      height: 2em;
      width: 22em;
      @include base.text-minimal(
        $fontSize: 0.9rem,
        $letterSpacing: 0.8px,
        $fontWeight: 400
      );
      padding: 1.1em 1.1em 1.1em 0.8em;
      border-radius: 3px;
      border: 1px solid;
      transition: padding 0.2s;
      outline: none;
      box-sizing: border-box;

      &:hover {
        @include base.input-padding(1em);
      }
    }
    > div {
      position: absolute;
      top: 7px;
      right: 10px;
      font-size: 20px;
      color: base.$grey-xl-color;
    }
    .search-results {
      position: absolute;
      left: 1px;
      top: 30px;
      background-color: base.$rule-30-l-color;
      width: 15.75em;
      div {
        p {
          margin: 0;
          @include base.text-minimal();
        }
      }
    }
  }

  ///////// RIGHT SIDE LINKS ////////
  .header-links-box {
    display: flex;
    column-gap: 20px;

    a {
      text-decoration: none;
      @include base.text-minimal(1.1rem, base.$rule-60-color);
      padding: 3px 0;
    }

    button {
      @include base.text-minimal(1.1rem, base.$rule-60-color);
      @include base.button(base.$danger-color, 0 1em 3px);
      font-weight: 500;

      &:hover {
        background-color: base.$danger-color-hover;
      }
    }
  }
}
