@use "../../../base";

.profile-main {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.main-user-info-container {
  box-sizing: border-box;
  background-color: #edede944;
  border-right: 1px solid #00000010;
  width: 50%;
  padding: 3em 8em;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-personal-info {
    display: flex;
    align-items: center;
    column-gap: 2em;

    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      object-fit: cover;
      object-position: 0 0;
    }

    input {
      border-color: transparent;
      background-color: transparent;
      outline: none;
    }
  }
}

////////// EDIT USER INFORMAION /////////

.edit-user-personal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    column-gap: 2em;
  }

  label[for="user-photo-picker"] {
    height: 100px;
    user-select: none;

    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }
}

//////// BOTH INFO DISPLAY AND INFO EDIT ///////

label[for="edit-profile"] {
  @include base.text-minimal();
  display: flex;
  align-items: center;
  transition: color 0.3s;

  .edit-lock {
    background-color: base.$grey-xxl-color;
    width: 13px;
    height: 12px;
    border-radius: 3px;
    margin-left: 5px;
    position: relative;
    transition: background-color 0.3s ease;
    margin-top: 2px;

    &::after {
      content: "";
      background-color: base.$white-color;
      width: 4px;
      height: 4px;
      position: absolute;
      border-radius: 100%;
      margin: 4px auto auto;
      inset: 0;
    }

    &::before {
      content: "";
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border: 2px solid base.$grey-xxl-color;
      border-bottom: 0;
      width: 6px;
      height: 5px;
      position: absolute;
      transform-origin: 0 100%;
      transform: translate(1px, -5.5px);
      transition: border-color 0.3s, transform 0.3s ease;
    }
  }

  .edit-lock-active {
    background-color: base.$success-color;
    &::before {
      border: 2px solid base.$success-color;
      border-bottom: 0;
      transform: rotate(-35deg) translate(4px, -2px);
    }
  }
}

.edit-profile-toggle {
  background-color: base.$grey-xxl-color;
  width: 45px;
  height: 16px;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;

  &:hover {
    background-color: #b1b1b1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 100%;
    transform: translateX(5px);
    transition: transform 0.2s ease-in-out;
  }
}

.edit-active {
  background-color: base.$success-color;

  &:hover {
    background-color: #4ea17b;
  }

  &::after {
    transform: translateX(31px);
  }
}

.names-section {
  display: flex;
  flex-direction: column;

  input {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 1px 0 1px 5px;
    box-sizing: border-box;
  }

  input[id="profile-full-name"],
  input[id="edit-full-name"] {
    @include base.text-minimal(
      1.3rem,
      base.$black-med-color,
      0.5px,
      montserrat,
      400
    );
    margin: 0 0 6px;
  }

  input[id="edit-username"],
  input[id="profile-username"] {
    @include base.text-minimal(1rem, base.$grey-l-color, 0.5px, work sans, 300);
    margin: 0;
  }
}

//////// ADDITIONAL PERSONAL INFORMATION /////////

.additional-user-info-container {
  box-sizing: border-box;
  width: 50%;
  padding: 3em 8em;
}
