$primary-color: #333;
$white-color: #ffffff;
$black-med-color: #282828;
$grey-color: #515151;
$grey-light-color: #717171;
$grey-lighter-color: #919191;
$success-color: #52b788;

#submit-loader {
  display: none;
  width: 100%;
  height: 41px;
  background-color: $grey-lighter-color;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

#submit-loader::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 43%;
  top: 8px;
  border: 2px solid #fff4;
  border-radius: 50%;
  border-top: 2px solid $white-color;
  animation: loader-spin 1s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success-toast {
  width: 200px;
  height: 50px;
  background-color: $success-color;
  position: fixed;
  margin: auto;
  top: -10vh;
  right: 0;
  left: 0;
  z-index: 10;
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  letter-spacing: 1px;
  transition: top 0.3s, opacity 0.7s, visibility 0.7s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.toast-show {
  top: 20px;
  opacity: 1;
  visibility: visible;
  transition: top 0.3s, opacity 0.1s, visibility 0.1s;
}

#addChildModal {
  // display: none;
  background-color: #0007;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  > div {
    background-color: $white-color;
    width: 40vw;
    height: 500px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 50px auto 0;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    label {
      color: $grey-color;
      margin: 0 0 3px;
      cursor: pointer;
      font: 300 1.1rem sans-serif;
    }

    input {
      margin-bottom: 15px;
      letter-spacing: 0.5px;
      padding: 5px;
      font: 300 1rem sans-serif;
      border-radius: 3px;
      border: 1px solid $grey-lighter-color;
      transition: 0.2s;
      outline: none;
      box-sizing: border-box;
    }

    input:focus,
    input:hover {
      border-color: $black-med-color;
    }

    label[for="name"]:hover ~ input[id="name"],
    input[id="name"]:hover,
    input[id="name"]:focus,
    label[for="pob"]:hover ~ input[id="pob"],
    input[id="pob"]:hover,
    input[id="pob"]:focus,
    input[id="dob"]:hover,
    input[id="dob"]:focus {
      padding-left: 8px;
    }

    input[id="name"] {
      width: 15vw;
    }

    .name-validation {
      content: "Both first and last name are required!";
      font-size: 0.9rem;
      color: #910000;
      margin-left: 10px;
    }

    input[id="dob"] {
      width: 170px;
      cursor: text;
    }

    .gender-box {
      margin-bottom: 10px;
    }
    p {
      margin: 5px 0 5px;
      color: $grey-color;
      font: 300 1.1rem sans-serif;
    }

    label[for="boy"],
    label[for="girl"] {
      font: 300 1rem sans-serif;
      color: #000;
    }
    input[id="boy"],
    input[id="girl"] {
      margin-right: 15px;
    }

    .buttons-container {
      display: flex;
      align-items: center;
      column-gap: 10px;
      margin-top: 10px;
    }

    .buttons-container span {
      width: 30%;
      background-color: #ee6055;
      padding: 10px;
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
      text-align: center;
    }

    .buttons-container > div {
      width: 70%;
      position: relative;
    }

    .buttons-container div button {
      background-color: #52b788;
      border: none;
      padding: 10px;
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
      width: 100%;
    }
  }
}
