$white-color: #ffffff;
$black-color: #111111;
$black-med-color: #282828;
$grey-color: #515151;
$grey-l-color: #717171;
$grey-xl-color: #919191;
$grey-xxl-color: #c1c1c1;
$success-color: #52b788;
$success-l-color: #6cc99d;
$danger-color: #ee6055;
$danger-color-hover: #db574e;

@mixin text-minimal(
  $size: 1rem,
  $color: $grey-l-color,
  $spacing: 0.5px,
  $font-f: montserrat,
  $font-w: 400
) {
  font: $font-w $size $font-f;
  letter-spacing: $spacing;
  color: $color;
}

@mixin input-padding {
  padding-left: 8px;
}
