$white-color: #ffffff;
$black-color: #111111;
$black-med-color: #282828;
$grey-color: #515151;
$grey-light-color: #717171;
$grey-lighter-color: #919191;
$success-color: #52b788;
$danger-color: #ee6055;
$danger-color-hover: #db574e;

@mixin text-minimal($size: 1rem, $color: $grey-light-color, $spacing: 0.5px) {
  font: 300 $size sans-serif;
  letter-spacing: $spacing;
  color: $color;
}
