$black-color: #111111;
$black-med-color: #282828;
$grey-color: #515151;
$grey-l-color: #717171;
$grey-xl-color: #919191;
$grey-xxl-color: #c1c1c1;
$light-transp-color: #0000001f;
$success-l-color: #6cc99d;
$danger-color: #b23a48;
$danger-color-hover: #c54352;
$rule-60-color: #ffffff;
$rule-30-color: #333b5c;
$rule-30-l-color: #576497;
$rule-30-xl-color: #a5aed1;
$rule-30-xxl-color: #eef1fd;
$rule-30-color-hover: #556399;
$rule-10-color: #186d6d;
$rule-10-l-color: #57bebe;
$rule-10-color-hover: #1f8383;

@mixin text-minimal(
  $fontSize: 1rem,
  $color: $rule-30-color,
  $letterSpacing: 0.5px,
  $fontFamily: montserrat,
  $fontWeight: 300
) {
  font: $fontWeight $fontSize $fontFamily;
  letter-spacing: $letterSpacing;
  color: $color;
}

@mixin button($b-color: none, $padding: 3px 2em) {
  border: none;
  background-color: $b-color;
  padding: $padding;
  cursor: pointer;
  transition: background-color 0.2s;
}

@mixin input-padding($paddingLeft: 8px) {
  padding-left: $paddingLeft;
}

@mixin image-rounded($width: 100px, $height: 100px, $objp: 0 0) {
  width: $width;
  height: $height;
  border-radius: 100%;
  object-fit: cover;
  object-position: $objp;
}
